* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#main_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

#brother_div {
  width: 100px;
  height: 100px;
  background-color: red;
}
#first_line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#second_line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
